*{
    background-color: yellowgreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#titulo-principal{
    color: violet;
    background-color: blue;
}

#teste-1{
color: red;
}

p{
    text-align: justify;
    margin: 25px;
    color: aliceblue;
}